

header{
    font-size: 50px;
    
}
#container{
    width:750px;
    height: 1750px;
    text-align: center;
    margin:0 auto;
    border-style: dotted;
    background-color: aqua;
}
.trivia{
    width:200px;
    height: 140px;
    float:left;
}
.kobe{
    width:500px;
    height: 250px;
}
.break{
    width: 600px;
    height: 250px;
    background-color: red;
}
.start{
    margin-top:300px;
    width:450px;
    height: 150px;
    background-color: pink;
    border-color:black;
    border-width: 2px;
    cursor: pointer;
    font-size: 50px;
}
.done{
    margin-top:150px;
    width:450px;
    height: 120px;
    background-color: pink;
    border-color:black;
    border-width: 2px;
    cursor: pointer;
    font-size: 50px;
}
#group1,#group2,#group3,#group4,#group5,#group6,#group7,#group8{
    border-style: hidden;
}

#answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7,#answer8,#answer9,#answer10,#answer11,#answer12,#answer13,#answer14,#answer15,#answer16,
#answer17,#answer18,#answer19,#answer20,#answer25,#answer26,#answer27,#answer28,#answer29,#answer30,#answer31,#answer32
{
    float:left;
    padding-left: 50px;
}
#answer21,#answer22,#answer23,#answer24{
    float:left;
    padding-left: 30px;
}

